.fancy-hover {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abril Fatface";
  font-size: 4rem;
  color: white;

  &__link {
    color: inherit;
  }

  &__base-layer,
  &__hover-layer {
    width: 350px;
    height: 90px;
    border-radius: 1000rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__base-layer {
    background-color: orange;
    color: darkred;
    position: relative;
    border: 3px solid darkred;
  }

  &__hover-layer-box {
    width: 0;
    height: calc(100% + 6px);
    position: absolute;
    top: -3px;
    left: -3px;
    overflow: hidden;
    transition: width 500ms ease-in-out;
  }

  &__hover-layer {
    background-color: darkred;
    color: orange;
    border: 3px solid orange;
  }

  &__arrow {
    transition: transform 200ms ease-in-out;
    font-weight: 700;
  }

  // styles applied on link hover
  &__link:hover &__hover-layer-box {
    width: calc(100% + 6px);
  }

  &__link:hover &__arrow {
    transform: translateX(20px);
    transition: transform 200ms ease-in-out 300ms;
  }
}
