* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  min-height: 200vh;
  background: #222;
}

.section {
  border-bottom: 1px solid #888;
}

.section__container {
  max-width: 125rem;
  width: 100%;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.section__title {
  margin: 3rem 0;
  font-size: 8rem;
  color: whitesmoke;
  font-weight: 400;
}

.section__lead {
  margin: 2rem 0 2rem;
  font-size: 3rem;
  color: whitesmoke;
  font-weight: 400;
}

.section--viewport {
  min-height: 100vh;
}

.move-boxes-into-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.move-boxes-into-view .box {
  background: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  color: whitesmoke;
  margin: 0 0 4rem;
}

.move-boxes-into-view .observe {
  -webkit-transition: opacity 1500ms ease-out, -webkit-transform 1000ms ease-out;
  transition: opacity 1500ms ease-out, -webkit-transform 1000ms ease-out;
  transition: opacity 1500ms ease-out, transform 1000ms ease-out;
  transition: opacity 1500ms ease-out, transform 1000ms ease-out, -webkit-transform 1000ms ease-out;
  opacity: 0;
}

.move-boxes-into-view .translate-y {
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
}

.move-boxes-into-view .translate-x-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: mediumseagreen;
}

.move-boxes-into-view .is-intersecting {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

#change-pointer {
  cursor: none;
}

.custom-cursor {
  pointer-events: none;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../images/emoji.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.moving-text {
  overflow: hidden;
  margin: 7rem 0 10rem;
}

.moving-text .text {
  color: orange;
  font-family: "Abril Fatface";
  font-size: 12rem;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7rem 0 10rem;
}

.counter-container .counter {
  font-family: "Space Mono";
  font-weight: 700;
  color: crimson;
  font-size: 10rem;
  height: 30rem;
  width: 30rem;
  border: 5px solid crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */