* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  min-height: 200vh;
  background: #222;
}

.section {
  border-bottom: 1px solid #888;
}

.section__container {
  max-width: 125rem;
  width: 100%;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.section__title {
  margin: 3rem 0;
  font-size: 8rem;
  color: whitesmoke;
  font-weight: 400;
}

.section__lead {
  margin: 2rem 0 2rem;
  font-size: 3rem;
  color: whitesmoke;
  font-weight: 400;
}

.section--viewport {
  min-height: 100vh;
}

.move-boxes-into-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.move-boxes-into-view .box {
  background: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  color: whitesmoke;
  margin: 0 0 4rem;
}

.move-boxes-into-view .observe {
  -webkit-transition: opacity 1500ms ease-out, -webkit-transform 1000ms ease-out;
  transition: opacity 1500ms ease-out, -webkit-transform 1000ms ease-out;
  transition: opacity 1500ms ease-out, transform 1000ms ease-out;
  transition: opacity 1500ms ease-out, transform 1000ms ease-out, -webkit-transform 1000ms ease-out;
  opacity: 0;
}

.move-boxes-into-view .translate-y {
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
}

.move-boxes-into-view .translate-x-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: mediumseagreen;
}

.move-boxes-into-view .is-intersecting {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

#change-pointer {
  cursor: none;
}

.custom-cursor {
  pointer-events: none;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../images/emoji.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.moving-text {
  overflow: hidden;
  margin: 7rem 0 10rem;
}

.moving-text .text {
  color: orange;
  font-family: "Abril Fatface";
  font-size: 12rem;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7rem 0 10rem;
}

.counter-container .counter {
  font-family: "Space Mono";
  font-weight: 700;
  color: crimson;
  font-size: 10rem;
  height: 30rem;
  width: 30rem;
  border: 5px solid crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.footer {
  background-color: #fba008;
  padding: 15rem 5.2% 9rem;
  color: white;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-family: "Montserrat";
  border-bottom: maroon solid 5px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__row--logo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 9.7rem;
}

.footer__row--navigation {
  margin: 0 0 4.4rem;
}

.footer__logo {
  width: 27.5rem;
  height: 3.2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/ar-logo.png");
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  width: 2.4rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 2.4rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0 0 4rem;
  display: block;
}

.footer__social-link:first-child {
  margin: 0;
}

.footer__social-link--insta {
  background-image: url("../images/icon-insta.png");
}

.footer__social-link--fb {
  background-image: url("../images/icon-fb.png");
}

.footer__social-link--yt {
  background-image: url("../images/icon-yt.png");
}

.footer__social-link--m {
  background-image: url("../images/icon-m.png");
}

.footer__contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.4rem;
          flex: 0 1 34.4rem;
  letter-spacing: 0;
  margin: 0 7.8% 0 0;
}

.footer__navigation {
  letter-spacing: 0.035rem;
  margin: 0 11% 0 0;
}

.footer__copy {
  font-size: 1.2rem;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.hero {
  background-color: #fba008;
  font-family: "Montserrat";
  color: white;
  overflow-x: hidden;
}

.hero .main-container {
  max-width: 1250px;
  padding: 0 2.5rem;
  width: 100%;
  margin: 0 auto;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53.25%;
          flex: 0 0 53.25%;
}

.hero__title {
  font-size: 3.6rem;
  line-height: 4.8rem;
  font-weight: 800;
  margin: 0 0 1.9rem;
  letter-spacing: 0.09rem;
}

.hero__title strong {
  color: #232f3e;
  font-weight: 800;
}

.hero__text {
  font-size: 1.6rem;
  line-height: 3rem;
  max-width: 45rem;
  width: 70.5%;
  margin: 0 0 2.5rem;
}

.hero__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__link {
  color: white;
  text-decoration: none;
  -webkit-transition: 300ms -webkit-text-decoration ease-in-out;
  transition: 300ms -webkit-text-decoration ease-in-out;
  transition: 300ms text-decoration ease-in-out;
  transition: 300ms text-decoration ease-in-out, 300ms -webkit-text-decoration ease-in-out;
  font-size: 1.6rem;
  margin: 0 0 0 9.5%;
}

.hero__link:hover {
  text-decoration: underline;
}

.hero__phone {
  margin: 14.2rem 0 0 -3.7rem;
  background-color: tomato;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52.5%;
          flex: 0 0 52.5%;
  padding-top: 65.7%;
}

.hero .button {
  width: 190px;
  height: 50px;
  background: #232f3e;
  border-radius: 5px;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fd9d05;
}

.fancy-hover {
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Abril Fatface";
  font-size: 4rem;
  color: white;
}

.fancy-hover__link {
  color: inherit;
}

.fancy-hover__base-layer, .fancy-hover__hover-layer {
  width: 350px;
  height: 90px;
  border-radius: 1000rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fancy-hover__base-layer {
  background-color: orange;
  color: darkred;
  position: relative;
  border: 3px solid darkred;
}

.fancy-hover__hover-layer-box {
  width: 0;
  height: calc(100% + 6px);
  position: absolute;
  top: -3px;
  left: -3px;
  overflow: hidden;
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}

.fancy-hover__hover-layer {
  background-color: darkred;
  color: orange;
  border: 3px solid orange;
}

.fancy-hover__arrow {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  font-weight: 700;
}

.fancy-hover__link:hover .fancy-hover__hover-layer-box {
  width: calc(100% + 6px);
}

.fancy-hover__link:hover .fancy-hover__arrow {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: -webkit-transform 200ms ease-in-out 300ms;
  transition: -webkit-transform 200ms ease-in-out 300ms;
  transition: transform 200ms ease-in-out 300ms;
  transition: transform 200ms ease-in-out 300ms, -webkit-transform 200ms ease-in-out 300ms;
}

.error-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Abril Fatface";
  font-size: 17vmin;
  color: white;
}

.error-page__container {
  position: relative;
}

.error-page__half-circle-box {
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
  position: absolute;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.error-page__half-circle-box--top {
  top: -55%;
  z-index: 3;
}

.error-page__half-circle-box--bottom {
  bottom: -60%;
  z-index: 1;
}

.error-page__half-circle {
  height: 200%;
  width: 100%;
  position: absolute;
  left: 0;
  border-radius: 50%;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.error-page__half-circle--top {
  top: 0;
  background-color: crimson;
}

.error-page__half-circle--bottom {
  bottom: 0;
  background-color: darkcyan;
}

.error-page__code {
  padding: 0 5vmin;
  position: relative;
  z-index: 2;
}

.error-page__code-text {
  display: block;
}
/*# sourceMappingURL=style.css.map */